<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เพิ่มเมนู</title>
</head>
<body>
    <%- include('03-nav.ejs') %>
    <div class="container">
        <form action="/insert" method="post">
            <div class="row">
                <div class="col">
                    <label for="foodname" class="form-label">ชื่อเมนู : </label>
                    <input name="foodname" type="text" class="form-control">
                </div>
                <div class="col">
                    <label for="price" class="form-label">ราคา : </label>
                    <input name="price" type="number" class="form-control">
                </div>
            </div>
            <div class="row">
                <input type="submit" value="บันทึก" class="btn btn-primary">
            </div>
        </form>
    </div>
</body>
</html>